.logo-container {
    z-index: -10;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 1;
    @media (max-width: 830px) {
        opacity: 0;

    }

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

}

.svg-container {
    stroke: #ffd700;
    stroke-width: 20;
}
.g{
    paint-order: fill markers stroke;
}
.path {
    paint-order: fill markers stroke;
}
#logo-size {
    width: 400px;
    height: 400px;
}
